{%- assign featured_product = collections['all'].products.first -%}

{%- if featured_product -%}
  {%- render 'product-landing', product: featured_product -%}
{%- else -%}
  <section class="product-unavailable">
    <div class="product-unavailable__content">
      <h1>Product coming soon</h1>
      <p>Add a product to the <code>all</code> collection to showcase it on the homepage.</p>
    </div>
  </section>
{%- endif -%}
