{% comment %}
  Custom page template for the Advanced Trauma book bundle.
{% endcomment %}

<section class="page" id="page-{{ page.handle }}">
  {% include 'advanced-trauma-landing-page' %}
</section>
